.footer-container{
    margin-top: 100px;
    padding: 48px 85px;
    background: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    margin-left: 24px;
}
