.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 43px;
}
.header-right{
    display: flex;
    align-items: center;

}
.header-link{
    text-decoration: none;
    font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}
.header-link + .header-link{
    margin-left: 32px;
}
.header-link:hover{
    color: black;
}
.header-link:active{
    color: black;
    border-bottom: 2px solid black;
}
